setuptools~=50.3.2
httpcore~=0.9.1
httpx~=0.13.3
requests~=2.24.0
genanki~=0.9.0
pyperclip~=1.8.1
pyttsx3~=2.90
pyqt5~=5.15.1
gtts~=2.2.1
playsound~=1.2.2
ankitools~=0.3.7
anki~=2.1.49
bs4~=0.0.1
beautifulsoup4~=4.10.0
ankisync2~=0.3.2
peewee~=3.14.8